.editorWindow {
    width : 1000px;
    border : 1px solid black;
    border-radius: 10px;
}

.editor {
    padding: 0 40px;
}

.inlineFlex {
    display: inline-flex;
}

.atomic {
    display: inline-flex;
}

.atomic + .unstyled {
    display: inline-flex;
}
